@use "variables" as var;

.shop-hero {
    padding-top: 0.5rem;

    &__container {
        flex-direction: column;

        .categories {
            margin: 0;
            flex-direction: column;
            gap: 0.25rem;

            &__link {
                background-color: var.$color-accent-pink;
                height: 2rem;
                width: 100%;
                color: white;
                font-size: var.$font-m;
                text-align: center;
            }
        }

    }
}

.shop {
    padding-top: 1rem;
    flex-direction: column;

    .sort {
        align-self: flex-end;

        display: inline-flex;
        gap: 0.5rem;

        background: none;
        border: none;
        color: var.$color-primary-teal;
        font-size: var.$font-m;

        text-transform: uppercase;

        &__img {
            height: 1rem;
            width: auto;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        margin: auto 0.5rem;
    }
}

.card {
    padding: 1rem;
    flex-direction: column;

    background-color: white;
    border-radius: 8px;

    &__img {
        max-width: 100%;
        background-color: var.$color-background-cream;
        border-radius: 8px;
    }

    &__title, &__price {
        margin: 0;
        padding-top: 1rem;
    }

    &__price {
        padding-bottom: 1rem;
    }

    &__btn {
        background-color: var.$color-primary-teal;
        border: none;
        border-radius: 8px;
        color: var.$color-background-cream;

        &-img {
            height: 1rem;
        }
    }

    .btn-container {
        
    }

}


.page-end {

}