@use "variables" as var;
@use "mixins" as m;

.product-details {
  flex-direction: column;

  background-color: var.$color-white;
  text-align: left;
  box-shadow: var.$box-shadow-card;

  &__img {
    background-color: var.$color-background-cream;
    max-width: 100%;
  }

  &__title {
    color: var.$color-accent-cherry;
    @include m.text-style-heading();
  }

  &__heading {
    @include m.text-style-subheading-sm();
  }

  &__description {
  }

  p {
    margin-bottom: var.$m-lg;
  }
}

.back-container {
  p {
    margin: 0;
  }
}
