@use "variables" as var;

.shop-hero {
    padding-top: 0.5rem;

    &__container {
        flex-direction: column;

        .categories {
            margin: 0;
            flex-direction: column;
            gap: 0.25rem;

            &__link {
                background-color: var.$color-accent-pink;
                height: 2rem;
                width: 100%;
                color: white;
                font-size: var.$font-m;
                text-align: center;
            }
        }

    }
}

.shop {
    flex-direction: column;
    .sort {
        align-self: flex-end;

        display: inline-flex;
        gap: 0.5rem;

        background: none;
        border: none;
        color: var.$color-primary-teal;
        font-size: var.$font-m;

        text-transform: uppercase;

        &__img {
            height: 1rem;
            width: auto;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__items {
        display: grid;

    }
}

.card {
    &__img {
        max-width: 100%;
    }
}

.page-end {

}