// color
$color-primary-teal: #166479;
$color-accent-pink: #e46a8c;
$color-background-cream: #f7f1e9;

// font size
$font-s: 0.875rem; // 14px
$font-m: 1.125rem; // 18px
$font-l: 1.25rem; // 20px
$font-xl: 3.25rem; // 52px
